<article xmlns="http://www.w3.org/1999/xhtml" prefix="dbo: http://dbpedia.org/resource/classes# skos: http://www.w3.org/2004/02/skos/core# schema: https://schema.org/ lexinfo: https://lexinfo.net/ontology/3.0/lexinfo# clre: https://clre.solirom.ro/" lang="ro" about="https://clre.solirom.ro/home.html">
    <style>
        h1.home-title {
            text-align: center;
        }

        button#go-to-search {
            height: 50px;
            width: 98%;
            border-radius: 10px;
            box-shadow: 2px 2px 4px #a8a6a1;
            background-color: #f0f0f0;
        }

        div.bibliographic-entries {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        div.bibliographic-entry {
            border: 4px solid #dac08b;
            margin: 0.5em 1.0em 0.5em 0em;
            padding: 0.5em;
            box-shadow: 2px 2px 4px #a8a6a1;
            border-radius: 10px;
            min-height: 22vh;
            width: 360px;
            /* flex: 1 1 360px; */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        div.work-title {
            font-size: 18px;
        }

        span.person-metadata-label:only-child {
            display: none;
        }

        span.person-metadata-label:nth-last-child(2):after {
            content: attr(data-singular) ': ';
        }

        span.person-metadata-label:after {
            content: attr(data-plural) ': ';
        }

        div.creator-metadata,
        div.editor-metadata {
            font-size: 14px;
        }

        div.creator-metadata>a,
        div.editor-metadata>a {
            text-decoration: none;
            display: inline-block;
        }

        div.digital-editor-metadata {
            border-top: 1px solid #999791;
            font-size: 14px;
        }

        /* small screen sizes */
        @media only screen and (max-width: 664px) {
            div.bibliographic-entries {
                flex-direction: column;
                font-size: 10px;
                align-items: center;
            }

            div.bibliographic-entry {
                width: 80vw;
                height: 12vh;
            }

            div.editor-metadata {
                font-size: 14px;
            }

            div.digital-editor-metadata {
                font-size: 10px;
            }
        }

        /* medium screen sizes */
        @media only screen and (max-width: 835px) {
            div.bibliographic-entries {
                flex-direction: column;
                font-size: 10px;
                align-items: center;
            }

            div.bibliographic-entry {
                width: 80vw;
                height: 12vh;
            }

            div.editor-metadata {
                font-size: 14px;
            }

            div.digital-editor-metadata {
                font-size: 12px;
            }
        }
    </style>
    <h1 class="home-title" about="https://clre.solirom.ro/">
        <span property="dbo:abbreviation">CLRE</span>
        <span>–</span>
        <span property="skos:prefLabel">Corpus lexicografic românesc electronic</span>
    </h1>
    <h2 id="linked-dictionaries-subtitle" about="https://clre.solirom.ro/home.html#linked-dictionaries-subtitle" property="skos:prefLabel">Dicționare aliniate</h2>
    <button id="go-to-search" about="https://clre.solirom.ro/home.html#go-to-search-button" property="skos:prefLabel">Căutare</button>
    <div class="bibliographic-entries">
        <div xmlns="http://www.w3.org/1999/xhtml" prefix="dcterms: http://purl.org/dc/terms/ schema: https://schema.org/ lexinfo: https://lexinfo.net/ontology/3.0/lexinfo# clre: https://clre.solirom.ro/" lang="ro" resource="https://clre.solirom.ro/dlr1_d"><div class="bibliographic-entry">
                <div class="work-title">
                    <a href="https://dlr1.solirom.ro/" target="_blank">(<span property="schema:alternateName">DA / DLR</span>) <span property="dcterms:title">Dicţionarul limbii române</span></a>
                </div>
                <div class="creator-metadata">
                    <span class="person-metadata-label" about="https://clre.solirom.ro/home.html#creator-label" data-singular="Autor" data-plural="Autori"></span>
                    <div xmlns="http://www.w3.org/1999/xhtml" prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro" resource="https://lingv.ro/"><a href="https://lingv.ro/" target="_blank">
                            <span property="skos:prefLabel">Institutul de Lingvistică al Academiei Române „Iorgu Iordan - Al. Rosetti”, București</span>
                        </a></div><div xmlns="http://www.w3.org/1999/xhtml" prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro" resource="https://inst-puscariu.ro/"><a href="https://inst-puscariu.ro/" target="_blank">
                            <span property="skos:prefLabel">Institutul de Lingvistică și Istorie Literară „Sextil Pușcariu” al Academiei Române – Filiala Cluj-Napoca</span>
                        </a></div><div xmlns="http://www.w3.org/1999/xhtml" prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro" resource="https://philippide.ro/"><a href="https://philippide.ro/" target="_blank">
                            <span property="skos:prefLabel">Institutul de Filologie Română „Alexandru Philippide”, Academia Română, Filiala Iași</span>
                        </a></div></div>
                <div class="editor-metadata">
                    <span class="person-metadata-label" about="https://clre.solirom.ro/home.html#editor-label" data-singular="Editor" data-plural="Editori"></span>
                    
                </div>
                <div class="digital-editor-metadata">
                    <span class="digital-editor-label" property="clre:edition_type">Ediție anastatică digitală</span>
                    <div xmlns="http://www.w3.org/1999/xhtml" prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro" resource="https://philippide.ro/"><a href="https://philippide.ro/" target="_blank">
                            <span property="skos:prefLabel">Institutul de Filologie Română „Alexandru Philippide”, Academia Română, Filiala Iași</span>
                        </a></div>
                </div>
            </div></div><div xmlns="http://www.w3.org/1999/xhtml" prefix="dcterms: http://purl.org/dc/terms/ schema: https://schema.org/ lexinfo: https://lexinfo.net/ontology/3.0/lexinfo# clre: https://clre.solirom.ro/" lang="ro" resource="https://clre.solirom.ro/dlr2_d"><div class="bibliographic-entry">
                <div class="work-title">
                    <a href="https://dlri.ro/" target="_blank">(<span property="schema:alternateName">DLR<sup>2</sup></span>) <span property="dcterms:title">Dicţionarul limbii române</span></a>
                </div>
                <div class="creator-metadata">
                    <span class="person-metadata-label" about="https://clre.solirom.ro/home.html#creator-label" data-singular="Autor" data-plural="Autori"></span>
                    <div xmlns="http://www.w3.org/1999/xhtml" prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro" resource="https://lingv.ro/"><a href="https://lingv.ro/" target="_blank">
                            <span property="skos:prefLabel">Institutul de Lingvistică al Academiei Române „Iorgu Iordan - Al. Rosetti”, București</span>
                        </a></div><div xmlns="http://www.w3.org/1999/xhtml" prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro" resource="https://inst-puscariu.ro/"><a href="https://inst-puscariu.ro/" target="_blank">
                            <span property="skos:prefLabel">Institutul de Lingvistică și Istorie Literară „Sextil Pușcariu” al Academiei Române – Filiala Cluj-Napoca</span>
                        </a></div><div xmlns="http://www.w3.org/1999/xhtml" prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro" resource="https://philippide.ro/"><a href="https://philippide.ro/" target="_blank">
                            <span property="skos:prefLabel">Institutul de Filologie Română „Alexandru Philippide”, Academia Română, Filiala Iași</span>
                        </a></div></div>
                <div class="editor-metadata">
                    <span class="person-metadata-label" about="https://clre.solirom.ro/home.html#editor-label" data-singular="Editor" data-plural="Editori"></span>
                    
                </div>
                <div class="digital-editor-metadata">
                    <span class="digital-editor-label" property="clre:edition_type">Ediție digitală</span>
                    <div xmlns="http://www.w3.org/1999/xhtml" prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro" resource="https://lingv.ro/"><a href="https://lingv.ro/" target="_blank">
                            <span property="skos:prefLabel">Institutul de Lingvistică al Academiei Române „Iorgu Iordan - Al. Rosetti”, București</span>
                        </a></div>
                </div>
            </div></div><div xmlns="http://www.w3.org/1999/xhtml" prefix="dcterms: http://purl.org/dc/terms/ schema: https://schema.org/ lexinfo: https://lexinfo.net/ontology/3.0/lexinfo# clre: https://clre.solirom.ro/" lang="ro" resource="https://clre.solirom.ro/dl_d"><div class="bibliographic-entry">
                <div class="work-title">
                    <a href="https://dl.solirom.ro/" target="_blank">(<span property="schema:alternateName">DL</span>) <span property="dcterms:title">Dicţionarul limbii române literare contemporane</span></a>
                </div>
                <div class="creator-metadata">
                    <span class="person-metadata-label" about="https://clre.solirom.ro/home.html#creator-label" data-singular="Autor" data-plural="Autori"></span>
                    <div xmlns="http://www.w3.org/1999/xhtml" prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro" resource="https://lingv.ro/"><a href="https://lingv.ro/" target="_blank">
                            <span property="skos:prefLabel">Institutul de Lingvistică al Academiei Române „Iorgu Iordan - Al. Rosetti”, București</span>
                        </a></div><div xmlns="http://www.w3.org/1999/xhtml" prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro" resource="https://inst-puscariu.ro/"><a href="https://inst-puscariu.ro/" target="_blank">
                            <span property="skos:prefLabel">Institutul de Lingvistică și Istorie Literară „Sextil Pușcariu” al Academiei Române – Filiala Cluj-Napoca</span>
                        </a></div></div>
                <div class="editor-metadata">
                    <span class="person-metadata-label" about="https://clre.solirom.ro/home.html#editor-label" data-singular="Editor" data-plural="Editori"></span>
                    
                </div>
                <div class="digital-editor-metadata">
                    <span class="digital-editor-label" property="clre:edition_type">Ediție anastatică digitală</span>
                    <div xmlns="http://www.w3.org/1999/xhtml" prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro" resource="https://philippide.ro/"><a href="https://philippide.ro/" target="_blank">
                            <span property="skos:prefLabel">Institutul de Filologie Română „Alexandru Philippide”, Academia Română, Filiala Iași</span>
                        </a></div>
                </div>
            </div></div><div xmlns="http://www.w3.org/1999/xhtml" prefix="dcterms: http://purl.org/dc/terms/ schema: https://schema.org/ lexinfo: https://lexinfo.net/ontology/3.0/lexinfo# clre: https://clre.solirom.ro/" lang="ro" resource="https://clre.solirom.ro/tdrg3_d"><div class="bibliographic-entry">
                <div class="work-title">
                    <a href="https://tdrg.solirom.ro/" target="_blank">(<span property="schema:alternateName">TDRG<sup>3</sup></span>) <span property="dcterms:title">Rumänisch-Deutsches Wörterbuch (Dicţionar român-german), ediția a treia, revăzută și adăugită</span></a>
                </div>
                <div class="creator-metadata">
                    <span class="person-metadata-label" about="https://clre.solirom.ro/home.html#creator-label" data-singular="Autor" data-plural="Autori"></span>
                    <div xmlns="http://www.w3.org/1999/xhtml" prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro" resource="https://clre.solirom.ro/Hariton_Tiktin"><a href="https://viaf.org/viaf/73874463/" target="_blank">
                            <span property="skos:prefLabel">H. Tiktin</span>
                        </a></div></div>
                <div class="editor-metadata">
                    <span class="person-metadata-label" about="https://clre.solirom.ro/home.html#editor-label" data-singular="Editor" data-plural="Editori"></span>
                    <div xmlns="http://www.w3.org/1999/xhtml" prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro" resource="https://clre.solirom.ro/Paul_Miron"><a href="https://viaf.org/viaf/2492153/" target="_blank">
                            <span property="skos:prefLabel">Paul Miron</span>
                        </a></div><div xmlns="http://www.w3.org/1999/xhtml" prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro" resource="https://clre.solirom.ro/Elsa_Lueder"><a href="https://viaf.org/viaf/55214194/" target="_blank">
                            <span property="skos:prefLabel">Elsa Lüder</span>
                        </a></div>
                </div>
                <div class="digital-editor-metadata">
                    <span class="digital-editor-label" property="clre:edition_type">Ediție digitală</span>
                    <div xmlns="http://www.w3.org/1999/xhtml" prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro" resource="https://philippide.ro/"><a href="https://philippide.ro/" target="_blank">
                            <span property="skos:prefLabel">Institutul de Filologie Română „Alexandru Philippide”, Academia Română, Filiala Iași</span>
                        </a></div>
                </div>
            </div></div>
    </div>
    <h2 id="to-be-linked-dictionaries-subtitle" about="https://clre.solirom.ro/home.html#to-be-linked-dictionaries-subtitle" property="skos:prefLabel">
        Dicționare în curs de aliniere</h2>
    <div class="bibliographic-entries">
        <div xmlns="http://www.w3.org/1999/xhtml" prefix="dcterms: http://purl.org/dc/terms/ schema: https://schema.org/ lexinfo: https://lexinfo.net/ontology/3.0/lexinfo# clre: https://clre.solirom.ro/" lang="ro" resource="https://clre.solirom.ro/dlr1_d"><div class="bibliographic-entry">
                <div class="work-title">
                    <a href="https://dlr1.solirom.ro/" target="_blank">(<span property="schema:alternateName">DA / DLR</span>) <span property="dcterms:title">Dicţionarul limbii române</span></a>
                </div>
                <div class="creator-metadata">
                    <span class="person-metadata-label" about="https://clre.solirom.ro/home.html#creator-label" data-singular="Autor" data-plural="Autori"></span>
                    <div xmlns="http://www.w3.org/1999/xhtml" prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro" resource="https://lingv.ro/"><a href="https://lingv.ro/" target="_blank">
                            <span property="skos:prefLabel">Institutul de Lingvistică al Academiei Române „Iorgu Iordan - Al. Rosetti”, București</span>
                        </a></div><div xmlns="http://www.w3.org/1999/xhtml" prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro" resource="https://inst-puscariu.ro/"><a href="https://inst-puscariu.ro/" target="_blank">
                            <span property="skos:prefLabel">Institutul de Lingvistică și Istorie Literară „Sextil Pușcariu” al Academiei Române – Filiala Cluj-Napoca</span>
                        </a></div><div xmlns="http://www.w3.org/1999/xhtml" prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro" resource="https://philippide.ro/"><a href="https://philippide.ro/" target="_blank">
                            <span property="skos:prefLabel">Institutul de Filologie Română „Alexandru Philippide”, Academia Română, Filiala Iași</span>
                        </a></div></div>
                <div class="editor-metadata">
                    <span class="person-metadata-label" about="https://clre.solirom.ro/home.html#editor-label" data-singular="Editor" data-plural="Editori"></span>
                    
                </div>
                <div class="digital-editor-metadata">
                    <span class="digital-editor-label" property="clre:edition_type">Ediție anastatică digitală</span>
                    <div xmlns="http://www.w3.org/1999/xhtml" prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro" resource="https://philippide.ro/"><a href="https://philippide.ro/" target="_blank">
                            <span property="skos:prefLabel">Institutul de Filologie Română „Alexandru Philippide”, Academia Română, Filiala Iași</span>
                        </a></div>
                </div>
            </div></div><div xmlns="http://www.w3.org/1999/xhtml" prefix="dcterms: http://purl.org/dc/terms/ schema: https://schema.org/ lexinfo: https://lexinfo.net/ontology/3.0/lexinfo# clre: https://clre.solirom.ro/" lang="ro" resource="https://clre.solirom.ro/dlr2_d"><div class="bibliographic-entry">
                <div class="work-title">
                    <a href="https://dlri.ro/" target="_blank">(<span property="schema:alternateName">DLR<sup>2</sup></span>) <span property="dcterms:title">Dicţionarul limbii române</span></a>
                </div>
                <div class="creator-metadata">
                    <span class="person-metadata-label" about="https://clre.solirom.ro/home.html#creator-label" data-singular="Autor" data-plural="Autori"></span>
                    <div xmlns="http://www.w3.org/1999/xhtml" prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro" resource="https://lingv.ro/"><a href="https://lingv.ro/" target="_blank">
                            <span property="skos:prefLabel">Institutul de Lingvistică al Academiei Române „Iorgu Iordan - Al. Rosetti”, București</span>
                        </a></div><div xmlns="http://www.w3.org/1999/xhtml" prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro" resource="https://inst-puscariu.ro/"><a href="https://inst-puscariu.ro/" target="_blank">
                            <span property="skos:prefLabel">Institutul de Lingvistică și Istorie Literară „Sextil Pușcariu” al Academiei Române – Filiala Cluj-Napoca</span>
                        </a></div><div xmlns="http://www.w3.org/1999/xhtml" prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro" resource="https://philippide.ro/"><a href="https://philippide.ro/" target="_blank">
                            <span property="skos:prefLabel">Institutul de Filologie Română „Alexandru Philippide”, Academia Română, Filiala Iași</span>
                        </a></div></div>
                <div class="editor-metadata">
                    <span class="person-metadata-label" about="https://clre.solirom.ro/home.html#editor-label" data-singular="Editor" data-plural="Editori"></span>
                    
                </div>
                <div class="digital-editor-metadata">
                    <span class="digital-editor-label" property="clre:edition_type">Ediție digitală</span>
                    <div xmlns="http://www.w3.org/1999/xhtml" prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro" resource="https://lingv.ro/"><a href="https://lingv.ro/" target="_blank">
                            <span property="skos:prefLabel">Institutul de Lingvistică al Academiei Române „Iorgu Iordan - Al. Rosetti”, București</span>
                        </a></div>
                </div>
            </div></div>
    </div>
</article>