<article xmlns="http://www.w3.org/1999/xhtml"
    prefix="dbo: http://dbpedia.org/resource/classes# skos: http://www.w3.org/2004/02/skos/core# schema: https://schema.org/ lexinfo: https://lexinfo.net/ontology/3.0/lexinfo# clre: https://clre.solirom.ro/"
    lang="ro" about="https://clre.solirom.ro/home.html">
    <style>
        h1.home-title {
            text-align: center;
        }

        button#go-to-search {
            height: 50px;
            width: 98%;
            border-radius: 10px;
            box-shadow: 2px 2px 4px #a8a6a1;
            background-color: #f0f0f0;
        }

        div.bibliographic-entries {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        div.bibliographic-entry {
            border: 4px solid #dac08b;
            margin: 0.5em 1.0em 0.5em 0em;
            padding: 0.5em;
            box-shadow: 2px 2px 4px #a8a6a1;
            border-radius: 10px;
            min-height: 22vh;
            width: 360px;
            /* flex: 1 1 360px; */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        div.work-title {
            font-size: 18px;
        }

        span.person-metadata-label:only-child {
            display: none;
        }

        span.person-metadata-label:nth-last-child(2):after {
            content: attr(data-singular) ': ';
        }

        span.person-metadata-label:after {
            content: attr(data-plural) ': ';
        }

        div.creator-metadata,
        div.editor-metadata {
            font-size: 14px;
        }

        div.creator-metadata>a,
        div.editor-metadata>a {
            text-decoration: none;
            display: inline-block;
        }

        div.digital-editor-metadata {
            border-top: 1px solid #999791;
            font-size: 14px;
        }

        /* small screen sizes */
        @media only screen and (max-width: 664px) {
            div.bibliographic-entries {
                flex-direction: column;
                font-size: 10px;
                align-items: center;
            }

            div.bibliographic-entry {
                width: 80vw;
                height: 12vh;
            }

            div.editor-metadata {
                font-size: 14px;
            }

            div.digital-editor-metadata {
                font-size: 10px;
            }
        }

        /* medium screen sizes */
        @media only screen and (max-width: 835px) {
            div.bibliographic-entries {
                flex-direction: column;
                font-size: 10px;
                align-items: center;
            }

            div.bibliographic-entry {
                width: 80vw;
                height: 12vh;
            }

            div.editor-metadata {
                font-size: 14px;
            }

            div.digital-editor-metadata {
                font-size: 12px;
            }
        }
    </style>
    <h1 class="home-title" about="https://clre.solirom.ro/">
        <span property="dbo:abbreviation">?clre_abbr</span>
        <span>–</span>
        <span property="skos:prefLabel">?clre_name</span>
    </h1>
    <h2 id="linked-dictionaries-subtitle" about="https://clre.solirom.ro/home.html#linked-dictionaries-subtitle"
        property="skos:prefLabel">?linked_dictionaries_subtitle</h2>
    <button id="go-to-search" about="https://clre.solirom.ro/home.html#go-to-search-button"
        property="skos:prefLabel">?go_to_search_button</button>
    <div class="bibliographic-entries">
        <kub-template xmlns="http://www.w3.org/1999/xhtml"
            prefix="dcterms: http://purl.org/dc/terms/ schema: https://schema.org/ lexinfo: https://lexinfo.net/ontology/3.0/lexinfo# clre: https://clre.solirom.ro/"
            lang="ro" about="https://clre.solirom.ro/home.html#linked-dictionaries" typeof="rdf:Seq">
            <div class="bibliographic-entry">
                <div class="work-title">
                    <a href="schema:url ?linked_url^^xsd:anyURI" target="_blank">(<span
                            property="schema:alternateName">?linked_siglum</span>) <span
                            property="dcterms:title">?linked_title</span></a>
                </div>
                <div class="creator-metadata">
                    <span class="person-metadata-label" about="https://clre.solirom.ro/home.html#creator-label"
                        data-singular="lexinfo:singular ?singular_for_creator"
                        data-plural="lexinfo:plural ?plural_for_creator"></span>
                    <kub-template xmlns="http://www.w3.org/1999/xhtml"
                        prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro"
                        property="schema:creator" resource="?creator_url">
                        <a href="schema:url ?creator_url^^xsd:anyURI" target="_blank">
                            <span property="skos:prefLabel">?creator_name</span>
                        </a>
                    </kub-template>
                </div>
                <div class="editor-metadata">
                    <span class="person-metadata-label" about="https://clre.solirom.ro/home.html#editor-label"
                        data-singular="lexinfo:singular ?singular_for_editor"
                        data-plural="lexinfo:plural ?plural_for_editor"></span>
                    <kub-template xmlns="http://www.w3.org/1999/xhtml"
                        prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro"
                        property="schema:editor" resource="?editor_url">
                        <a href="schema:url ?editor_url^^xsd:anyURI" target="_blank">
                            <span property="skos:prefLabel">?editor_name</span>
                        </a>
                    </kub-template>
                </div>
                <div class="digital-editor-metadata">
                    <span class="digital-editor-label" property="clre:edition_type">?edition_type</span>
                    <kub-template xmlns="http://www.w3.org/1999/xhtml"
                        prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro"
                        property="schema:sdPublisher" resource="?digital_editor_url">
                        <a href="schema:url ?digital_editor_url^^xsd:anyURI" target="_blank">
                            <span property="skos:prefLabel">?digital_editor_name</span>
                        </a>
                    </kub-template>
                </div>
            </div>
        </kub-template>
    </div>
    <h2 id="to-be-linked-dictionaries-subtitle"
        about="https://clre.solirom.ro/home.html#to-be-linked-dictionaries-subtitle" property="skos:prefLabel">
        ?to_be_linked_dictionaries_subtitle</h2>
    <div class="bibliographic-entries">
        <kub-template xmlns="http://www.w3.org/1999/xhtml"
            prefix="dcterms: http://purl.org/dc/terms/ schema: https://schema.org/ lexinfo: https://lexinfo.net/ontology/3.0/lexinfo# clre: https://clre.solirom.ro/"
            lang="ro" about="https://clre.solirom.ro/home.html#to-be-linked-dictionaries" typeof="rdf:Seq">
            <div class="bibliographic-entry">
                <div class="work-title">
                    <a href="schema:url ?to_be_linked_url^^xsd:anyURI" target="_blank">(<span
                            property="schema:alternateName">?to_be_linked_siglum</span>) <span
                            property="dcterms:title">?to_be_linked_title</span></a>
                </div>
                <div class="creator-metadata">
                    <span class="person-metadata-label" about="https://clre.solirom.ro/home.html#creator-label"
                        data-singular="lexinfo:singular ?singular_for_creator"
                        data-plural="lexinfo:plural ?plural_for_creator"></span>
                    <kub-template xmlns="http://www.w3.org/1999/xhtml"
                        prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro"
                        property="schema:creator" resource="?creator_url">
                        <a href="schema:url ?creator_url^^xsd:anyURI" target="_blank">
                            <span property="skos:prefLabel">?creator_name</span>
                        </a>
                    </kub-template>
                </div>
                <div class="editor-metadata">
                    <span class="person-metadata-label" about="https://clre.solirom.ro/home.html#editor-label"
                        data-singular="lexinfo:singular ?singular_for_editor"
                        data-plural="lexinfo:plural ?plural_for_editor"></span>
                    <kub-template xmlns="http://www.w3.org/1999/xhtml"
                        prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro"
                        property="schema:editor" resource="?editor_url">
                        <a href="schema:url ?editor_url^^xsd:anyURI" target="_blank">
                            <span property="skos:prefLabel">?editor_name</span>
                        </a>
                    </kub-template>
                </div>
                <div class="digital-editor-metadata">
                    <span class="digital-editor-label" property="clre:edition_type">?edition_type</span>
                    <kub-template xmlns="http://www.w3.org/1999/xhtml"
                        prefix="schema: https://schema.org/ skos: http://www.w3.org/2004/02/skos/core#" lang="ro"
                        property="schema:sdPublisher" resource="?digital_editor_url">
                        <a href="schema:url ?digital_editor_url^^xsd:anyURI" target="_blank">
                            <span property="skos:prefLabel">?digital_editor_name</span>
                        </a>
                    </kub-template>
                </div>
            </div>
        </kub-template>
    </div>
</article>